/* CSS files add styling rules to your content */

@import url('https://fonts.googleapis.com/css?family=Staatliches');

@import url('https://fonts.googleapis.com/css?family=VT323');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'VT323', "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1em;

}
#logo{
width: 300px;
  float:left;
  margin-left: 60px;
  top: 10px;
  position: relative;
  float: left;
  user-select: none;
  animation: bounce 1.5s infinite ease;
  z-index: 1;
}

#ha{
/*   transform: rotate(90deg); */
}

a {
  color: black;
  text-decoration: none;
}

#ig{
width: 30px;
margin-top: 30px;
margin-right: 30px;
position: relative;
float: right;
  filter: invert(100%);
  

  
}

.more{
  width: 100%;
  font-size: 15pt;
  font-family:'Quantico';
  text-align: center;
  margin-bottom: 50px;
  
}

.morelink{
 color: red;
  
  
}

.morelink:hover{
  opacity: 30%;
transition: opacity .5s ease;
  
}

.bigletter{
  width: 100%;
  font-size: 85pt;
  text-align:center;
  margin: 100px 20px 0 0;
}

#hok {
  margin: 1em;
  background: #f4df1c;
}

/* #nav{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15vw; 
font-size: 25pt;
position: relative;
  float: left;
  margin: 30px 0px;
  left: -250px;
  visibility: hidden;
  opacity: 0;
  transition: left .75s ease, opacity 3s ease;
  user-select: none;
  z-index: 0;
  letter-spacing: 1pt;
  
} */

/* #nav-{
font-size: 25pt;
position: relative;
  float: left;
  margin: 30px -15px;
  user-select: none;
  z-index: 0;
  letter-spacing: 1pt;


} */
/* 
.navcontent{
margin: 0 110px;
} */

h1 {
 font-size: 40pt;
  margin-top: 30px;
  position: relative;
  float: left;
  user-select: none;
/*   animation: bounce 1.5s infinite; */
  z-index: 1;
  
  
}

#center{
  width:100%;
  margin-top:10%;
}

h2{ 
  font-size: 30pt;
  margin-top:0;
  font-family: 'VT323';
  letter-spacing: 3pt;
  
}

#container{
position: relative;
  margin: 300px 0px 12.5% 12.5%;
/* float:left; */
  display: block; 
  width: 75%;
}

.desc{
font-size: 14pt;
letter-spacing: 1pt;
  font-family:'Quantico';
width: 100%;
  
}

@keyframes bounce{
  0%{transform: scale(1,1);}
  50%{transform: scale(1.03,1.03);}
  100%{transform: scale(1,1);}
}

#grid{
display: grid;
  margin-top: 50px;
  padding-left: 70px;
grid-template-columns: auto auto auto auto;
grid-row-gap: 55px; 
  min-width: 1050px;
  
  
}

#imagegrid{
display: grid;
  position: absolute;
  margin-top: 700px;
  padding-left: 70px;
grid-template-columns: auto auto auto auto;
grid-row-gap: 55px; 
  min-width: 1050px;
  
  
}

.thumbnail{
width: 200px;
  height: 200px;
}

.shift1{
   background: white;
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 25px;
  transform: rotate(10deg);
  transition: transform .2s ease;
  position: relative;
  
}

.shift2{
  background: white;
border-color: black;
  border-style: solid;
  border-width: 1.5px;
  width: 200px;
  height: 200px;
  margin: auto;
  top: -178px;
  transform: rotate(5deg);
  transition: transform .3s ease;
  position: relative;
  
}

.img{
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  background: black;
  width: 200px;
  height: 200px;
  margin: auto;
  top: -382px;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
   transition: transform .5s ease;
  
}



.img:hover{
transform: scale(1.03,1.03);
  transition: transform .5s ease;
}

.main{
width: 400px;
  height: 600px;
  margin-left: 70px;
}

.i{
  width: 100%;
  background: white;
  transition: opacity .5s ease;

}

.i:hover{
  transition: opacity .5s ease;
}

#i2{
  position: absolute;
top:-35px;
}

.text{
position: absolute;
  color: white;
/*   text-shadow: 0px 0px 8px #282828; */
  text-shadow: 2px 0px 0px rgba(255, 0, 0, 0.7), -1px 0px 0px rgba(0, 0, 255, 0.7), 3px 0px 0px rgba(0, 255, 0, 0.4);
  font-family: 'VT323', "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 21pt;
/*   font-weight: bold; */
  -webkit-text-stroke: 0.2px black;
  letter-spacing: 1pt;
  margin: 63px 50px;
  max-width: 70%;
  text-align: center;
  user-select: none;
  z-index: 1;
}

#t2{
  margin: 63px 25px;
}

#t3{
  margin: 63px 30px;
}

#t4{
  margin: 75px 50px;
}

#t5{
  margin: 85px 15px;
}

#t6{
  margin: 75px 30px;
}

#t7{
  margin: 75px 30px;
}

#t9{
  margin: 75px 30px;
}


#i4{
   width: 100%;
  top: -50px;
  position: relative;
}

.pf{
  width: 100%;
/*   border: 2pt solid black; */

}

.sf{
  width: 50%;
  margin: 0 25%;
/*    border: 2pt solid black; */

}

.of{
  width: 45%;
  margin: 20px;
/*  border: 2pt solid black; */
}

#portrait{
height: 500px;
  position: relative;
}

.qm{
width: 50%;
  margin: 0 25%;
  position: relative;
}




* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.containerslides {
  position: relative;
  width: 65%;
  margin-left:17.5%;
  margin-right:17.5%;
  margin-top: 20px;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3 {
  display: none;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 3% 3%;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222222;
  padding: 2px 16px;
  color: white;
  font-family:Quantico;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
    border: 1px solid white;
  float: left;
  width: 12.5%;
}

/* Add a transparency effect for thumnbail images */
.demo1{
  opacity: 0.6;
}

.active,
.demo1:hover {
  transition: opacity .5s ease;
  opacity: 1;
}

.demo2{
  opacity: 0.6;
}
.active,
.demo2:hover {
 transition: opacity .5s ease;
  opacity: 1;
}

.demo3{
  opacity: 0.6;
}
.active,
.demo3:hover {
 transition: opacity .5s ease;
  opacity: 1;
}

.demo4{
  opacity: 0.6;
}
.active,
.demo4:hover {
 transition: opacity .5s ease;
  opacity: 1;
}



.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media screen and (max-width: 768px){
  
  
  
  body {
  font-family: 'VT323', "Helvetica Neue", helvetica, arial, sans-serif;
margin: auto;
    overflow-x: hidden;
    position: absolute;
    width:100%;
    
}
  

  
  .of{
  width: 100%;
  padding-top: 40px;
    margin: 0;

}



a {
  color: black;
  text-decoration: none;
}

#ig{
width: 30px;
margin-top: 10px;
margin-right: auto;
position: absolute;
float: left;
  left: 90%;
  
}

#hok {
  margin: 1em;
  background: #f4df1c;
}


/* 
.navcontent{
margin: 0 110px;
} */

#logo{
width: 100%;
  left: 3.5%;
  font-size: 30pt;
  margin: 100px 0;
  position: relative;
  float: middle;
  user-select: none;
  animation: bounce 1.5s infinite ease;
  z-index: 1;
  text-align: center;
}
  
h1 {
  font-size: 30pt;
  margin: 100px 0;
  position: relative;
  float: middle;
  user-select: none;
/*   animation: bounce 1.5s infinite; */
  z-index: 1;
  width: 100%;
  text-align: center;
  
}


h2{ 
  font-size: 20pt;

  margin-top:0;
  font-family: 'VT323';
  letter-spacing: 3pt;
}

#container{
position: relative;
  margin: 0px 5%;
  width: 90%;
float:left;
  display: grid;
grid-template-columns: auto;
  grid-gap: 25px; 
    
}

.desc{
font-size: 14pt;
letter-spacing: 1pt;
  width: 100%;
  max-width: auto;
  min-width: auto;
}
  
/*   .divmob{
width: 100%;
} */

@keyframes bounce{
  0%{transform: scale(1,1);}
  50%{transform: scale(1.03,1.03);}
  100%{transform: scale(1,1);}
}

#grid{
display: grid;
  margin-top: 50px;
  padding-left: 0;
grid-template-columns: auto;
grid-row-gap: 175px; 
  min-width: 1vw;
  
  
}

/* #imagegrid{
display: grid;
  position: absolute;
  margin-top: 700px;
  padding-left: 70px;
grid-template-columns: auto auto auto auto;
grid-row-gap: 55px; 
  min-width: 1050px;
  
  
} */

.thumbnail{
width: auto;
  height: 100px;
}

.shift1{
   background: white;
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 25px;
  transform: rotate(10deg);
  transition: transform .2s ease;
  position: relative;
  
}

.shift2{
  background: white;
border-color: black;
  border-style: solid;
  border-width: 1.5px;
  width: 200px;
  height: 200px;
  margin: auto;
  top: -178px;
  transform: rotate(5deg);
  transition: transform .3s ease;
  position: relative;
  
}

.img{
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  background: black;
  width: 200px;
  height: 200px;
  margin: auto;
  top: -382px;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
   transition: transform .5s ease;
  
}

.img:hover{
transform: scale(1.03,1.03);
  transition: transform .5s ease;
}

.main{
width: 400px;
  height: 600px;
  margin-left: 70px;
}

.i{
  width: 100%;
  background: white;
  transition: opacity .5s ease;

}

.i:hover{
  transition: opacity .5s ease;
}

#i2{
  position: absolute;
top:-35px;
}

.text{
position: absolute;
  color: white;
/*   text-shadow: 0px 0px 8px #282828; */
  text-shadow: 2px 0px 0px rgba(255, 0, 0, 0.7), -1px 0px 0px rgba(0, 0, 255, 0.7), 3px 0px 0px rgba(0, 255, 0, 0.4);
  font-family: 'VT323', "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 21pt;
/*   font-weight: bold; */
  -webkit-text-stroke: 0.2px black;
  letter-spacing: 1pt;
  margin: 63px 50px;
  max-width: 70%;
  text-align: center;
  user-select: none;
  z-index: 1;
}

#t2{
  margin: 63px 25px;
}

#t3{
  margin: 63px 30px;
}

#t4{
  margin: 75px 50px;
}

#t5{
  margin: 85px 15px;
}

#t6{
  margin: 75px 30px;
}

#t7{
  margin: 75px 30px;
}
  

#i4{
   width: 100%;
  top: -50px;
  position: relative;
}

.pf{
  width: 100%;
 padding-top: 40px;
}
  
  .sf{
 padding-top: 40px;
}

#portrait{
  width: 100%;
height: auto;
  position: relative;
}

#qm{
width: 100%;
  position: relative;
}
  
  #of{
    margin: 0;
  }
  
  .bigletter{
  width: 100%;
  font-size: 60pt;
  text-align:center;
  margin: 50px 20px 0 0;
}

 
  
}